@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

/* navbar logo */
img[alt='logo']{
    width:5rem;
    aspect-ratio: 1/1;
}

