@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Inter&family=Road+Rage&display=swap');

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Castoro', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Road Rage', sans-serif;
   
  

 
}

/* navbar logo */
img[alt='logo']{
    width:5rem;
    aspect-ratio: 1/1;
   
}

/* product background */
/* main{
    background-image: url(https://i.postimg.cc/qq9tcRLk/02fc6f5dd23ce783fc4d4b6b6e500e4d.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    margin: 50px;
    

    
    
    
} */

/* 1st shoe line 65-66 */
img[alt='FirstShoe']{
    width: 600px;
    height:577.96px;
    top:-100px ;
    left: -2px ;
    transform: rotate(-10.885deg);
    position: relative;
    /* background-color: #b95252; */
    border-radius:536px ;
  
}
 img[alt='LOGO']{
    width:508px ;
    height:765px ;
    bottom: 200px ;
    /* left:300px ; */
    position: relative;
    margin-left: 10rem;
 }

 .card{
    margin: auto;
    width: 18rem;
 }